/* Default font-size */
$font-size: 16px;

/* Color Variation */
$accent-color: #e27d60;
$primary-color: #659dbd;
$info-color: #c38d9e;
$success-color: #f64c72;
$secondary-color: #daad86;
$light-color: #5cdb95;
$white-color: #edf5e1;
$grey-color: #553d67;
$dark-color: #242582;

/* Size Variation */
$wrapper-width: 400px;
$gutter-width: 1em;

/* Responsive Size */
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
