<header class="header-wrapper">
	<div class="header-wrap wrapper">
		<div class="left">
			<div><a href="/main">메인</a></div>
			<div><a href="/notice">고객센터</a></div>
			<div><a href="/serviceintro">서비스안내</a></div>
			<div><a href="/finditem">매물셀프코너</a></div>
			<div><a href="/kakaomap">카카오맵</a></div>
		</div>
	</div>
</header>