<style>
  .nav-wrapper {
    border: 1px solid #9f9f9f;
    width: 10%;
    height: 100vh;
    float: left;
  }
  .nav-wrapper .nav {
    border-bottom: 1px solid #9f9f9f;
    display: flex;
    justify-content: center;
  }
  .nav-wrapper .nav .active {
    color: red;
  }
  .nav-wrapper .nav a {
    color: #000;
  }
</style>
<div class="nav-wrapper">
  <div class="nav">
    <a href="/admin/main">메인</a>
  </div>
  <div class="nav">
    <a class="<%= requestsale > 0 ? 'active' : '' %>" href="/admin/requestsale"
      >(신) 매물의뢰 <%= requestsale > 0 ? requestsale : '' %></a
    >
  </div>
  <div class="nav">
    <a href="/admin/banner">배너</a>
  </div>
</div>
