<%- include('../inc/head.ejs') %>
<div class="flex-div">
  <%- include('../inc/nav.ejs') %>
  <div class="container-wrapper">
    <div class="title">배너</div>
    <div class="form-wrapper">
      <form
        action="/admin/banner"
        enctype="multipart/form-data"
        method="post"
        name="bannerForm"
        class="banner-form"
      >
        <input type="hidden" name="folderName" value="banner" />
        <input type="hidden" name="reg_midx" value="<%= user.midx ? user.midx : 1011 %>" />
        <table class="banner-table table-bordered">
          <tbody>
            <tr>
              <td class="td-first"><span class="redStar">*</span>배너 위치</td>
              <td>
                <div class="flex-div">
                  <select name="site_id">
                    <option value="1000">서울공실클럽</option>
                    <option value="1001">인천공실클럽</option>
                  </select>
                  <select name="area_code">
                    <option value="1" selected>공실클럽V4메인-광고</option>
                    <option value="2">프리미엄매물관-미디어홍보관</option>
                    <option value="3">프리미엄매물관-신축빌라관</option>
                    <option value="4">프리미엄매물관-전속건물관</option>
                    <option value="5">메인-분양광고</option>
                    <option value="6">프리미엄배너</option>
                    <option value="7">연락처정보</option>
                    <option value="8">공실-매물상세</option>
                    <option value="9">사이트 우측</option>
                    <option value="10">중고나라매물상세상단</option>
                    <option value="11">중고나라매물상세하단</option>
                    <option value="12">이벤트</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-first"><span class="redStar">*</span>배너 제목</td>
              <td><input type="text" name="title" class="banner-title" /></td>
            </tr>

            <tr>
              <td class="td-first"><span class="redStar">*</span>배너 이미지</td>
              <td>
                <div class="img-wrap"><img src="" alt="" name="bannerImg" /></div>
                <div>
                  <input type="file" name="banner_image" />
                  <span class="size">(가로: 780px, 세로: 440px)</span>
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-first"><span class="redStar">*</span>게시 기간</td>
              <td>
                <div class="flex-div">
                  <input type="date" name="start_date" /> ~ <input type="date" name="end_date" />
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-first"><span class="redStar">*</span>게시 여부</td>
              <td>
                <div class="flex-div">
                  <input type="radio" id="게시안함" class="radio-input" name="is_on" value="1" />
                  <label for="게시안함">게시안함</label>
                  <input type="radio" id="게시함" class="radio-input" name="is_on" value="2" checked />
                  <label for="게시함">게시함</label>
                </div>
              </td>
            </tr>

            <tr>
              <td class="td-first"><span class="redStar">*</span>링크 유무</td>
              <td>
                <div class="flex-div">
                  <input type="radio" id="링크 없음" class="radio-input" name="link_count" value="0" />
                  <label for="링크 없음">링크 없음</label>
                  <input
                    type="radio"
                    id="링크 있음"
                    class="radio-input"
                    name="link_count"
                    value="1"
                    checked
                  />
                  <label for="링크 있음">링크 있음</label>
                </div>
              </td>
            </tr>

            <tr class="link">
              <td class="td-first"><span class="redStar">*</span>링크 창</td>
              <td>
                <div class="flex-div">
                  <input
                    type="radio"
                    id="새창에 열기"
                    class="radio-input"
                    name="link_target"
                    value="2"
                    checked
                  />
                  <label for="새창에 열기">새창에 열기</label>
                  <input type="radio" id="현재창에 열기" class="radio-input" name="link_target" value="1" />
                  <label for="현재창에 열기">현재창에 열기</label>
                  <input type="radio" id="팝업창에 열기" class="radio-input" name="link_target" value="3" />
                  <label for="팝업창에 열기">팝업창에 열기</label>
                </div>
              </td>
            </tr>

            <tr class="hide px">
              <td class="td-first"><span class="redStar">*</span>팝업창 크기</td>
              <td>
                <div class="flex-div">
                  <div class="px-text">가로 :</div>
                  <div><input type="text" name="window_width" /></div>
                  <div class="px-text">px</div>
                  <div class="px-text">세로 :</div>
                  <div><input type="text" name="window_height" /></div>
                  <div class="px-text">px</div>
                </div>
              </td>
            </tr>

            <tr class="link">
              <td class="td-first"><span class="redStar">*</span>링크 방식</td>
              <td>
                <div class="flex-div">
                  <input type="radio" id="urlInput" class="radio-input" name="link_type" value="1" checked />
                  <label for="urlInput">URL 입력</label>
                  <input type="radio" id="imgInput" class="radio-input" name="link_type" value="2" />
                  <label for="imgInput">이미지업로드(URL자동생성)</label>
                </div>
              </td>
            </tr>

            <tr class="urlInput hide">
              <td class="td-first"><span class="redStar">*</span>상세이미지</td>
              <td class="thumb-wrap">
                <input
                  type="file"
                  style="display: none"
                  id="thumb-img-input1"
                  name="thumbImg1"
                  onchange="onchangeThumb(this)"
                />
                <label for="thumb-img-input1" class="load-img">사진 불러오기</label>
                <div class="flex-div thumb-img-wrap" style="flex-wrap: wrap"></div>
              </td>
            </tr>

            <tr class="urlInput hide link">
              <td class="td-first"><span class="redStar">*</span>유투브 동영상 URL</td>
              <td>
                <input type="text" name="movie1_url" class="banner-title" />
              </td>
            </tr>

            <tr class="urlInput hide link">
              <td class="td-first"><span class="redStar">*</span>유투브 동영상 위치</td>
              <td>
                <select name="movie1_position">
                  <option value="">선택</option>
                </select>
              </td>
            </tr>

            <tr class="urlInput hide link">
              <td class="td-first"><span class="redStar">*</span>유투브 동영상 게시여부</td>
              <td>
                <div class="flex-div">
                  <input
                    type="radio"
                    id="noPost"
                    class="radio-input"
                    name="movie1_display"
                    value="1"
                    checked
                  />
                  <label for="noPost">게시안함</label>
                  <input type="radio" id="isPost" class="radio-input" name="movie1_display" value="2" />
                  <label for="isPost">게시함</label>
                </div>
              </td>
            </tr>

            <tr class="imgInput link">
              <td class="td-first"><span class="redStar">*</span>링크 URL</td>
              <td><input type="text" class="banner-title" name="link_url" /></td>
            </tr>

            <tr>
              <td class="td-first"><span class="redStar">*</span>메모</td>
              <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
            </tr>
          </tbody>
        </table>
        <div class="btn-wrap">
          <button class="btn btn-primary">등록</button>
          <a href="/admin/banner" class="btn btn-success" style="color: #fff">목록</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // 날짜 초기값
  let startDateEl = bannerForm.start_date;
  let endDateEl = bannerForm.end_date;
  startDateEl.value = moment().format('YYYY-MM-DD');
  endDateEl.value = moment().format('YYYY-MM-DD');

  let thumbImgInputNum = 1;
</script>
<%- include('../inc/foot.ejs') %>
