<%- include('../inc/head.ejs') %>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<div class="signUp-wrapper">
  <div class="signUp-wrap">
    <div class="img-wrap"><img src="/admin/img/top_logo.svg" alt="" /></div>
    <form action="">
      <div class="sub-title"><span>*</span>아이디</div>
      <input type="text" id="id" class="input" />
      <div class="sub-info">영문, 숫자 조합 / 4자 ~ 12자 (변경불가)</div>

      <div class="sub-title"><span>*</span>비밀번호</div>
      <input type="password" class="input" id="password01" />
      <div class="sub-info">영문, 숫자 조합 / 4자 ~ 12자</div>

      <div class="sub-title"><span>*</span>비밀번호 확인</div>
      <input type="password" class="input" id="password02" />
      <div class="sub-info">영문, 숫자 조합 / 4자 ~ 12자</div>

      <div class="sub-title"><span>*</span>이름</div>
      <input type="text" class="input" />

      <div class="sub-title"><span>*</span>자택전화</div>
      <select class="main-select" name="" id="">
        <option value="02">02</option>
        <option value="031">031</option>
        <option value="032">032</option>
        <option value="033">033</option>
        <option value="041">041</option>
        <option value="042">042</option>
        <option value="043">043</option>
        <option value="051">051</option>
        <option value="052">052</option>
        <option value="053">053</option>
        <option value="054">054</option>
        <option value="055">055</option>
        <option value="061">061</option>
        <option value="062">062</option>
        <option value="063">063</option>
        <option value="064">064</option>
        <option value="070">070</option>
      </select>
      - <input type="text" class="input tel-input" style="width: 31%" /> -
      <input type="text" class="input tel-input" style="width: 31%" />

      <div class="sub-title"><span>*</span>핸드폰</div>
      <select class="main-select" name="" id="">
        <option value="010">010</option>
        <option value="011">011</option>
        <option value="016">016</option>
        <option value="017">017</option>
        <option value="018">018</option>
        <option value="019">019</option>
      </select>
      - <input type="text" class="input tel-input" style="width: 31%" /> -
      <input type="text" class="input tel-input" style="width: 31%" />

      <div class="sub-title"><span>*</span>이메일</div>
      <input type="text" class="input" style="width: 31%" /> @
      <input type="text" class="input" id="mail" style="width: 31%" value="" />
      <select class="main-select" name="" id="mailSelect" onchange="changeSelect()">
        <option value="">-- 직접입력 --</option>
        <option value="hanmail.net">hanmail.net</option>
        <option value="naver.com">naver.com</option>
        <option value="nate.com">nate.com</option>
        <option value="gmail.com">gmail.com</option>
        <option value="hotmail.com">hotmail.com</option>
        <option value="yahoo.co.kr">yahoo.co.kr</option>
        <option value="empal.com">empal.com</option>
        <option value="paran.com">paran.com</option>
        <option value="korea.com">korea.com</option>
        <option value="lycos.co.kr">lycos.co.kr</option>
        <option value="hanmail.com">hanmail.com</option>
        <option value="dreamwiz.com">dreamwiz.com</option>
        <option value="netian.com">netian.com</option>
        <option value="freechal.com">freechal.com</option>
        <option value="hanafos.com">hanafos.com</option>
        <option value="hltel.net">hltel.net</option>
        <option value="unitel.co.kr">unitel.co.kr</option>
        <option value="chollian.net">chollian.net</option>
        <option value="netsgo.com">netsgo.com</option>
        <option value="kebi.com">kebi.com</option>
      </select>

      <div class="sub-title"><span>*</span>주소</div>
      <input type="text" id="zonecode" class="input" placeholder="우편번호" style="width: 30%" readonly />
      <button type="button" onclick="searchAddr()" class="btn btn-success">우편번호 찾기</button>
      <input type="text" id="jibunAddress" class="input" placeholder="지번 주소" readonly />
      <input type="text" id="roadAddress" class="input" placeholder="도로명 주소" readonly />
      <input type="text" class="input" placeholder="상세 주소" />
      <div class="btn-wrap">
        <button class="btn btn-primary" style="margin-right: 10px">회원가입</button>
        <a href="/admin/login" class="btn btn-danger">취소</a>
      </div>
    </form>
  </div>
</div>
<script src="/admin/js/signUp/admin-signUp.js"></script>
<%- include('../inc/foot.ejs') %>
