.count-span {
  font-weight: 600;
}
.total-count {
  margin-bottom: 6px;
}
.table-wrap-list {
  text-align: center;
  thead {
    tr {
      th {
        padding: 6px;
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;
      td {
        padding: 6px;
      }
    }
  }
}

.table-wrap-view {
  tbody {
    tr {
      td {
        padding: 4px 4px 4px 10px;
        select {
          width: 90px;
          height: 20px;
          &:focus {
            border: 2px solid #000;
          }
        }
        span {
          margin: 0 10px;
        }
      }
      td.sub-title {
        background-color: rgb(238, 238, 238);
        width: 130px;
        font-weight: 600;
      }
    }
  }
}
.btn-wrap {
  margin-top: 50px;
  text-align: center;
}
.search-wrapper {
  border: 3px solid #d7d7d7;
  padding: 10px;
  // padding-left: 50px;
  .sub-title {
    margin-right: 10px;
  }
  .search-wrap {
    display: flex;
    select {
      padding-left: 4px;
      width: auto;
      height: 20px;
      margin-right: 10px;
      &:focus {
        border: 2px solid #000;
      }
    }
    input {
      height: 20px;
      width: 100px;
      margin-right: 10px;
      font-size: 12px;
    }
  }
  .btn-wrap {
    margin-top: 0;
  }
}
